In [1]:
import pandas as pd
import numpy as np

trainDF = pd.read_csv("Kaggle Data/test_supplement.csv")
trainDF.head()

   click_id      ip  app  device  os  channel           click_time
0         0   43570    3       1  18      379  2017-11-09 14:23:39
1         1   80528    3       1  13      379  2017-11-09 14:23:51
2         2   32323    3       1  13      379  2017-11-09 14:25:57
3         3   42887    3       1  17      379  2017-11-09 14:26:03
4         4  119289   58       1  30      120  2017-11-09 14:26:41

In [2]:
trainDF['click_time'] = pd.to_datetime(trainDF['click_time'])

trainDF['Hour'] = trainDF['click_time'].dt.hour
trainDF['day_of_week'] = trainDF['click_time'].dt.dayofweek
hr = []

trainDF = trainDF.drop("click_time",axis=1)
trainDF = trainDF.drop("click_id",axis=1)
#trainDF = trainDF.drop("attributed_time",axis=1)

trainDF.head()

       ip  app  device  os  channel  Hour  day_of_week
0   43570    3       1  18      379    14            3
1   80528    3       1  13      379    14            3
2   32323    3       1  13      379    14            3
3   42887    3       1  17      379    14            3
4  119289   58       1  30      120    14            3

In [3]:
#trainDF.loc[trainDF.Hour <24 , 'TimeOfDay'] = 'Night'
#trainDF.loc[trainDF.Hour <20 , 'TimeOfDay'] = 'Afternoon'
#trainDF.loc[trainDF.Hour <16 , 'TimeOfDay'] = 'Noon'
#trainDF.loc[trainDF.Hour <12 , 'TimeOfDay'] = 'Morning'
#trainDF.loc[trainDF.Hour <8, 'TimeOfDay'] = 'Dusk'
#trainDF.loc[trainDF.Hour <4, 'TimeOfDay'] = 'Midnight'

trainDF.loc[trainDF.Hour <24 , 'TimeOfDay_N'] = 6
trainDF.loc[trainDF.Hour <20 , 'TimeOfDay_N'] = 5
trainDF.loc[trainDF.Hour <16 , 'TimeOfDay_N'] = 4
trainDF.loc[trainDF.Hour <12 , 'TimeOfDay_N'] = 3
trainDF.loc[trainDF.Hour <8, 'TimeOfDay_N'] = 2
trainDF.loc[trainDF.Hour <4, 'TimeOfDay_N'] = 1

In [4]:
trainDF.head()

       ip  app  device  os  channel  Hour  day_of_week  TimeOfDay_N
0   43570    3       1  18      379    14            3          4.0
1   80528    3       1  13      379    14            3          4.0
2   32323    3       1  13      379    14            3          4.0
3   42887    3       1  17      379    14            3          4.0
4  119289   58       1  30      120    14            3          4.0

In [5]:
trainDF.to_csv("testies.CSV",index = False)